// page
.cr-page {
  &__header {
    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      flex-direction: column;
    }
    align-items: flex-end;
    align-self: center;
    display: flex;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    margin-bottom: 1rem;
    padding-right: 0.5rem;
  }

  &__breadcrumb {
    @include media-breakpoint-down(sm) {
      align-self: flex-start;
    }
    align-self: flex-end;
    background: theme-color("light");
    padding: 0;
    text-transform: capitalize;
  }

  .row {
    // stylelint-disable-next-line
    .col,
    > [class^="col-"] {
      margin-bottom: 1rem;
    }
  }
}
