.card-img-left {
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-radius: 0;
  border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-right {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-radius: 0;
  border-top-right-radius: calc(0.25rem - 1px);
}
