.nav-item {
  .nav-link {
    align-items: center;
    display: flex;
    &.active {
      background: rgba(255, 255, 255, 0.23);
      color: #fff;
      opacity: 1;
    }
  }
}

.sidebar .nav a {
  transition: all 150ms ease-in;
}

.card-header {
  text-transform: uppercase;
}

.badge:empty {
  display: inline-block;
}

.images-compare-handle {
    margin-left: -19px !important;
}
