div.ui-avatar {
  align-items: center;
  border: 2px solid #d3d4da;
  color: #808494;
  display: inline-flex;
  font-size: 0.8em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}
