.ui-icon-widget {
  .card-body {
    .card-title {
      color: #414042;
    }
    .card-subtitle {
      color: #808494;
      button {
        border-width: 0;
        padding: 0px;
      }
    }
  }
}
